<h1>My Account</h1>

<h3>{{ctl.user.email}}</h3>

<h3>Change Password</h3>
<form ng-submit="ctl.changePassword(form, changePasswordForm.$valid)" name="changePasswordForm">

  <label for="current_password">Current Password</label>
  <input type="password" ng-model="form.current_password" name="current_password"></input>

  <label for="password">Password</label>
  <input type="password" ng-model="form.password" name="password"></input>

  <label for="password_confirmation">Confirm Password</label>
  <input type="password" ng-model="form.password_confirmation" name="password_confirmation"></input>

  <button>Change Password</button>
</form>

<button ng-click=ctl.logout()>Logout</button>
